@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary-color: #2c3855;
    --primary-color-dark: #435681;
    --text-dark: #333333;
    --text-light: #767268;
    --extra-light: #f3f4f6;
    --white: #ffffff;
    --max-width: 1200px;


}

body {
    font-family: "poppins", sans-serif;

}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;


}

.container {
    background-color: rgb(255, 255, 255);
    /* height: 100vh; */

}

.logo {
    padding: 10px;
    color: #333333;
    /* font-weight: bold;
    font-family: Arial; */
    font-size: 30px;
    font-size: 1.6rem;
    font-weight: 600;
    filter: drop-shadow(1px 1px 1px rgb(41, 46, 49));
}

.nav {
    display: flex;
    justify-content: space-between;
    /* border: 1px solid black; */
    padding: 30px;
    /* margin: 0px 100px; */
    max-width: var(--max-width);
    margin: auto;
    flex-wrap: wrap;

}

.menu {

    width: auto;
}

.menu ul {
    display: flex;
    float: right;

}

.menu ul li {
    padding: 20px;
    list-style: none;
    position: relative;
    display: inline-block;
}

.menu ul li a {
    text-decoration: none;
    color: #767268;
    /* font-weight: bold;
    font-size: 20px;
    font-family: Arial; */
    transition: all 0.1s ease-in-out;
    display: inline-block;

}

.menu ul li a:hover {
    background-color: rgb(68, 170, 233);
    box-shadow: 0px 0px 20px 1px rgb(0, 157, 255);
    border-radius: .3rem;
    color: black;
    transform: scale(1.3);

}

.heroHeader {
    max-width: var(--max-width);
    margin: auto;
    /* display: flex; */
    padding: 50px 16px;

}

.imageContainer {
    min-height: 500px;
    position: relative;
    background-image: linear-gradient(to right, rgba(44, 56, 85, 0.9), rgba(100, 125, 187, 0.1)), url(../header.jpg);
    background-position: center center;
    background-size: cover;
    max-width: var(--max-width);
    border-radius: 2rem;
    background-repeat: no-repeat;
    margin: auto;
    box-shadow: 0px 0px 10px -5px black;

}


.content {
    max-width: 600px;

    padding: 5rem 2rem;
}

.content h1 {
    font-size: 3.5rem;
    line-height: 4rem;
    font-weight: 600;
    margin-bottom: 1rem;
    color: var(--white);
}

.content p {
    color: var(--extra-light);
    margin-bottom: 1rem;
}

.bookingContainer {

    position: relative;
    padding: 3rem 2rem;
    border-radius: 2rem;
    display: flex;
    background-color: rgba(255, 255, 255, 0.7);
    align-items: center;
    backdrop-filter: blur(10px);
    /* border: 2px solid red; */
    top: 2rem;
    /* bottom: -5rem; */
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
    -webkit-backdrop-filter: blur(10px);
    width: 90%;
    max-width: var(--max-width);
    left: 50%;
    transform: translateX(-50%);
    gap: 1rem;
    justify-content: center;
    flex-wrap: wrap;
}

form {
    position: relative;
    /* display: grid; */
    /* width: 100%; */

    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
    /* grid-gap: 1rem; */
    column-gap: 2rem;
    row-gap: 1rem;
    /* grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    flex: 1; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;


}

input {
    border-style: none;
    border-bottom: 1px solid black;
    width: 200px;
    outline: none;
    background: transparent;
    color: black;
    font-size: 20px;



}

.formGroup {
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.formGroup p {
    font-size: 14px;
    color: var(--text-dark);

}

.btn {
    font-size: 2rem;
    padding: 1rem;
    border-radius: 100%;
    border: none;
    outline: none;
    background-color: var(--primary-color);
    color: white;
    cursor: pointer;
    transition: all .1s ease-in-out;
}

.btn:hover {
    transform: scale(1.1);
    background-color: rgb(68, 170, 233);
    box-shadow: 0px 0px 20px 1px rgb(0, 157, 255);
    border-radius: 100%;
    color: black;
}

.sectionContainer {
    max-width: var(--max-width);
    margin: auto;
    /* padding: 5rem 1rem; */
    padding: 7px 16px 80px 16px;
    position: relative;
}

.sectionHeader {

    max-width: var(--max-width);
    /* margin: 100px auto; */
    margin: 14px auto;
    position: relative;
    text-align: center;
    /* padding: 1rem; */
    padding: 7px 16px 25px 16px;
    /* font-size: 2.5rem;
    font-weight: 600; */
    margin-block-start: 0.83rem;
    position: relative;
    font-size: 2rem;
    font-weight: 600;
    color: var(--text-dark);
    text-align: center;
}

.popularGrid {
    display: grid;
    /* grid-template-columns: repeat(3,1fr); */
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    /* display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center; */
    justify-items: center;



}


img {

    width: 349px;
    height: 200px;

    object-fit: cover;
    border-radius: 1rem;
    /* Optional, adds rounded corners */
    /* margin-bottom: 1rem;     */
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    display: flex;
    box-shadow: 0px 0px 10px -5px black;
    width: 100%;
}

.popularContent {
    background-color: white;
    border-radius: 1rem;
    padding: 1rem;
    box-shadow: 0px 0px 10px -5px black;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;

}

.popularHeader {
    display: flex;
    justify-content: space-between;
    /* padding: 0rem 1rem; */
}

.popularContent p {
    color: #767268;
    font-size: 1rem;

}

.client {
    background-color: var(--extra-light);
}

.sectionContainer {
    padding: 5rem 1rem;
    margin: auto;
    max-width: var(--max-width);
}

.sectionHeader2 h2 {
    font-size: 2rem;
    font-weight: 600;
    color: var(--text-dark);
    text-align: center;
}

.clientCard {
    background-color: white;
    border-radius: 1rem;
    padding: 2rem;
    box-shadow: 0px 0px 10px -5px black;

}

.clientCard img {
    border-radius: 100%;
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin: auto auto 1rem auto;
}

.clientGrid {

    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin: 4rem auto auto auto;

}

.clientCard p {
    /* color: var(--text-dark); */
    color: #767268;

    text-align: center;
}

.rewardContainer {
    background-color: var(--white);
    padding: 2rem;
    margin: auto;
    max-width: var(--max-width);
    border-radius: 1rem;
    box-shadow: 0px 0px 10px -5px black;
    text-align: center;

}

.rewardContainer p {

    color: #767268;
    text-align: center;
    padding: 0rem 0rem 1rem 0rem;
}

.rewardContainer h4 {
    font-size: 2rem;
    margin: auto;
    max-width: 500px;
    font-weight: 600;
    color: var(--text-dark);
    text-align: center;
    padding: 0rem 0rem 1rem 0rem;
}

.rewardContainer button {
    background-color: var(--primary-color);
    padding: 1rem;
    border-radius: 1rem;
    color: white;
    font-weight: 600;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all .1s ease-in-out;
}

.rewardContainer button:hover {
    transform: scale(1.1);
    background-color: rgb(68, 170, 233);
    box-shadow: 0px 0px 20px 1px rgb(0, 157, 255);
    color: black;
}

.footer {
    background-color: var(--extra-light);

}

.footerContainer {
    max-width: var(--max-width);
    margin: auto;
    /* display: grid; */
    /* grid-template-columns: 2fr repeat(3, 1fr); */
    /* grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); */
    /* gap: 5rem; */
    justify-items: center;
    padding: 5rem 1rem;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;

}

.footerCol {
    max-width: 400px;
    width: 10rem;
    flex-grow: 1;
}

.colMain {
    max-width: 600px;
    flex-grow: 2;
    margin-right: 3rem;
}

.col1 p {
    margin-right: 3rem;
    color: #767268;
    cursor: pointer;

}

.col1 p:hover {
    color: var(--primary-color);
}

.col2 p {
    color: #767268;
    cursor: pointer;

}

.col2 p:hover {
    color: var(--primary-color);

}

.col3 p {
    color: #767268;
    cursor: pointer;
}

.col3 p:hover {
    color: var(--primary-color);

}

.footerCol p {
    color: #767268;

    letter-spacing: .05rem;

    /* text-align: center; */
    padding: 0rem 0rem 1rem 0rem;
}

.footerCol h4 {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--text-dark);
    /* text-align: center; */
    padding: 0rem 0rem 1rem 0rem;
    max-width: 200px;


}

.footerBar {
    max-width: var(--max-width);
    margin: auto;
    height: 3rem;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
}

.line {
    height: 2px;
    width: 25%;
    background-color: var(--text-light);
    margin-right: 1rem;
    color: var(--text-light);

}

/* .copyright {
    padding: 0rem 0rem 1rem 0rem;
    max-width: auto;
    height: auto;
    color: var(--text-light);
} */

.myName {
    color: var(--primary-color);

    font-weight: 600;
    font-size: 1.2rem;
}